<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="css/style.scss">

<body>

    <header>
        <div class="contener">
            <div class="icon_box">
                <div class="cinem_of_title_flex_case">
                    <img src="/public/cinema 1.png" alt="">
                    <img src="/public/Kinoarea.png" alt="">
                </div>
                <div class="application_flex_case">
                    <img src="/public/vk.png" alt="">
                    <img src="/public/instagram.png" alt="">
                    <img src="/public/facebook.png" alt="">
                    <img src="/public/twitter.png" alt="">
                </div>
            </div>

            <div class="hot_hrefs_case">
                <a href="#">Афиша </a>
                <a href="#">Медиа</a>
                <a href="#">Фильмы</a>
                <a href="#">Актёры</a>
                <a href="#">Новости</a>
                <a href="#">Подборки</a>
                <a href="#">Категории</a>
            </div>

            <div class="search_and_btn_flex_box">
                <div class="search_btn"><img src="/public/search.svg" alt=""></div>
                <button class="add_btn">Войти</button>
            </div>

        </div>
    </header>

</body>

</html>