<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="css/style.scss">
<link rel="stylesheet" href="css/media.scss">

<body>

    <header>
        <div class="first_option_contener">
            <div class="icon_box">
                <div class="cinem_of_title_flex_case">
                    <img src="/public/cinema 1.png" alt="">
                    <img src="/public/Kinoarea.png" alt="">
                </div>
                <div class="application_flex_case">
                    <img src="/public/vk.png" alt="">
                    <img src="/public/instagram.png" alt="">
                    <img src="/public/facebook.png" alt="">
                    <img src="/public/twitter.png" alt="">
                </div>
            </div>

            <div class="hot_hrefs_case">
                <a href="#">Афиша </a>
                <a href="#">Медиа</a>
                <a href="#">Фильмы</a>
                <a href="#">Актёры</a>
                <a href="#">Новости</a>
                <a href="#">Подборки</a>
                <a href="#">Категории</a>
            </div>

            <div class="search_and_btn_flex_box">
                <div class="search_btn"><img src="/public/search.svg" alt=""></div>
                <button class="add_btn">Войти</button>
            </div>

        </div>


        <div class="second_option_contener">
            <div class="flex_second_case">

                <div class="burger_menu_and_search_btn_flex_box">
                    <div class="burger_menu"><img src="/public/burger_menu.png" alt=""></div>
                    <div class="second_search_btn"><img src="/public/search.svg" alt=""></div>
                </div>

                <div class="second_icon_box">
                    <div class="cinem_and_kinoarea_flex_box">
                        <img src="/public/cinema 1.png" alt="">
                        <img src="/public/Kinoarea.png" alt="">
                    </div>
                    <div class="aplication_flex_box">
                        <img src="/public/vk.png" alt="">
                        <img src="/public/instagram.png" alt="">
                        <img src="/public/facebook.png" alt="">
                        <img src="/public/twitter.png" alt="">
                    </div>
                </div>
                <button class="add_btn">Войти</button>
            </div>

            <div class="hot_href_box">
                <a href="#">Афиша </a>
                <a href="#">Медиа</a>
                <a href="#">Фильмы</a>
                <a href="#">Актёры</a>
                <a href="#">Новости</a>
                <a href="#">Подборки</a>
                <a href="#">Категории</a>
            </div>

            <div class="menu">
                <div class="box">
                    <img class="close" src="/public/close_menu.png" alt="">
                    <div class="icon_case">
                        <img src="/public/cinema_menu.png" alt="">
                        <img src="/public/Kinoarea_menu.png" alt="">
                    </div>

                    <div class="hot_href_menu">
                        <a href="#">Афиша </a><br>
                        <a href="#">Медиа</a><br>
                        <a href="#">Фильмы</a><br>
                        <a href="#">Актёры</a><br>
                        <a href="#">Новости</a><br>
                        <a href="#">Подборки</a><br>
                        <a href="#">Категории</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script src="./index.js"></script>
</body>

</html>